* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin-top: 30px;
    position: absolute;
}

.section-1-img {
    position: absolute;
    width: 1300px;
    height: 750px;
    left: 450px;
    object-fit: cover;
}

.navbar-section li {
    color: black;
    font-size: 20px;
    margin-right: 40px;
}

.navbar-section li a {
    color: black;
}

.section-logo {
    margin-right: 30px;
    padding: 10px;
    width: 150px;
    text-align: center;

}

.section-one-text-content {
    padding: 30px;
    margin-top: 0px;

}

.text-possibilities {
    font-family: "Neometric-Regular", Helvetica;
    font-weight: 400;
    color: #101010;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.discover-your-dream {
    font-family: "Neometric-Bold", Helvetica;
    font-weight: 700;
    color: #101010;
    font-size: 55px;
    letter-spacing: 0;
    line-height: normal;
}

.our-website-offers {
    font-weight: 500;
    font-size: 20px;

    margin-bottom: 50px;
}

.register-btn {
    background-color: #101010;
    border-radius: 10px;
    color: #ffffff;
    width: 200px;
    height: 60px;
}

.schedule-btn {
    background-color: transparent;
    color: #101010;
    width: 200px;
    height: 60px;
    border-radius: 10px;
}

.round-layers {
    position: absolute;
    top: 100px;
}

.round-layers1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 550px;
    left: 25px;
    background-color: #d9d9d9;
    border-radius: 35px;
    border: 5px solid;
    border-color: #f8f8f8;
}

.round-layers2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 550px;
    left: 50px;
    background-color: #d9d9d9;
    border-radius: 35px;
    border: 5px solid;
    border-color: #f8f8f8;
}

.round-layers3 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 550px;
    left: 75px;
    background-color: #d9d9d9;
    border-radius: 35px;
    border: 5px solid;
    border-color: #f8f8f8;
}

.round-layers4 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 550px;
    left: 100px;
    background-color: #d9d9d9;
    border-radius: 35px;
    border: 5px solid;
    border-color: #f8f8f8;
}

.section-one-profile-background {
    position: absolute;
    width: 700px;
    height: 750px;
    background-color: black;
}

.talk-us-btn {
    background-color: #eaff4a;
    color: black;
    font-weight: 600;
    height: 50px;
    width: 100px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 550px;
    margin-top: 50px;
}

.extra-bg {
    height: 690px;
}

.line-2 {
    position: absolute;
    width: 420px;
    height: 40px;
    top: 85px;
    left: 70px;
    background-color: #eaff4a;
    transform: rotate(-7deg);
}

.line-3 {
    position: absolute;
    width: 540px;
    height: 40px;
    top: 300px;
    left: 2px;
    background-color: #eaff4a;
    transform: rotate(-7deg);
}

.line-4 {
    position: absolute;
    width: 504px;
    height: 40px;
    top: 189px;
    left: 56px;
    background-color: #eaff4a;
    transform: rotate(19.03deg);
}

.line-5 {
    position: absolute;
    width: 480px;
    height: 40px;
    top: 410px;
    background-color: #eaff4a;
    transform: rotate(19.03deg);
}

.section-two-main-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;

}

.section-two-bg-img {
    background-image: url('https://live.staticflickr.com/65535/51271534778_b693e2eefa_h.jpg');
    height: 500px;
    width: 750px;
    background-size: cover;
}

.section-two-text-content {
    align-self: flex-end;
    position: absolute;
}

.section-two-white-shade {
    position: absolute;
    background: linear-gradient(90deg, transparent, #ffffff);
    height: 500px;
    width: 810px;
}

.num-style {
    font-size: 50px;
    color: #DDF247;
    font-weight: 500;
}

.section-two-head {
    font-weight: bold;
    color: #101010;
}

.section-two-para {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.slider {
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
}

.slide-track {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 200px;
    width: 350px;
}

.slide img {
    width: auto;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    border-width: 0px;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.section-4-main-container {
    background-color: #f8f8f8;
    width: 1530px;
    padding: 30px;
}

.section-4-text-container {
    padding: 50px;
}

.your-dream-future-in {
    width: 400px;
    font-family: "Neometric-Bold", Helvetica;
    font-weight: 700;
    color: #101010;
    font-size: 40px;
}

.text-wrappe {
    width: 535px;
    font-family: "Neometric-Bold", Helvetica;
    font-weight: 400;
    color: #101010;
    font-size: 30px;
}

.section-4-carousel {
    display: flex;
    height: 100%;
    width: 1000px;
    padding: 60px;


}

.section-4-carousel-cards {
    overflow: hidden;
}

.section-4-carousel-card1 {
    background: yellow;
    padding: 20px;
    width: 650px;
    height: 280px;
    border-radius: 20PX;
    margin-right: 20px;
}

.indicators {
    color: yellow;
    font-size: 90px;
}

.section-4-carousel-card1-para1 {
    background-color: #ffffff;
    color: black;
    width: 60px;
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;

}

.section-4-carousel-card1-para2 {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.section-4-carousel-card2 {
    background: #ffffff;
    padding: 20px;
    width: 650px;
    height: 280px;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 4px 4px 50px 2px #0000000d;
}

.section-4-carousel-card2-para1 {
    background-color: #ffffff;
    color: yellow;
    width: 60px;
    border-radius: 10px;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}

.section-5 {
    background-color: #ddf247;
    padding: 50px;
}

.section-5-para {
    font-size: 40px;
    font-weight: 700;
    margin-right: auto;

}

.section-5-btn {
    border-radius: 10px;
    width: 400px;
    height: 80px;
    border-width: 0px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

.section-6-main {
    height: 40px;
    display: flex;
    flex-direction: row;
}

.section-6-para {
    font-size: 40px;
    font-weight: 700;


}

.section-6-img {
    position: absolute;
    width: 1400px;
    height: 670px;
    right: 300px;

}

.section-6-text-content {
    align-items: flex-end;
    margin-left: 60%;
    padding: 30px;

}

.section-6-btn {
    background-color: yellow;
    color: black;
    border-radius: 10px;
    border-width: 0px;
    width: 300px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
}

.section-6-p {
    font-weight: bold;
    font-size: 30px;

}

.section-6-p2 {
    font-size: 15px;
    margin-right: 60px;
    font-weight: 500;
}

.section-7-main {
    margin-top: 650px;
    padding: 40px;
    background-color: #f8f8f8;
}

.carousel-section {
    display: flex;
    overflow: hidden;
}

.carousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.carousel-indicators1 {
    width: 150px;
    height: 15px;
    border-radius: 30px;
    border-width: 0px;
    background-color: yellow;
    margin-right: 10px;
}

.carousel-indicators2 {
    width: 50px;
    height: 15px;
    border-radius: 30px;
    margin-right: 10px;
    border-width: 0px;


}

.symbol {
    color: yellow;
    font-size: 40px;
}

.section-7-head {
    font-weight: bold;

}

.section-7-cards {}

.section-7-card-1 {
    height: 330px;
    width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.section-7-card-1 p {
    font-size: 15px;
    font-weight: 500;

}

.section-7-card-1 h1 {
    font-weight: bold;
}

.ellipse-1 {
    background-color: yellow;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin-right: 10px;
}

.ellipse-2 {
    background-color: #F8F8F8;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin-right: 10px;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

.foot-logo {
    padding: 20px;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
}

.footer-links {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: underline;
    margin: 0 10px;
    margin-right: 60px;
}

.footer-links p {
    margin-right: 60px;
}

@media (max-width:600px) {
    body {
        position: absolute;
    }

    .section-one-main-container-right {
        display: none;
    }

    .navbar-icon {
        color: black;
        font-size: 90px;
        background-color: black;
    }

    .section-one-btns {
        display: flex;
        flex-direction: column;

    }

    .section-one-btns button {
        margin-top: 10px;
    }

    .round-layers {
        display: none;
    }

    .section-two-bg-img {
        display: none;
    }

    .section-two-text-content {
        position: relative;
    }

    .section-two-white-shade {
        display: none;
    }

    .num-style {
        font-size: 30px;
        color: #DDF247;
        font-weight: 500;
    }

    .section-two-main-container {
        padding: 20px;
        flex-direction: row;
        margin-top: 0px;
    }


    .section-two-para {
        font-size: 15px;
        font-weight: 400;
        margin-top: 10px;
        margin-left: 10px;
        text-align: center;
    }

    .section-4-main-container {
        display: flex;
        width: 500px;
        flex-direction: column;
        padding: 0px;
        margin: 20px;
        border-radius: 30px;
        box-shadow: 10px 10px 10px 10px #f0f0f0;
    }

    .section-4-carousel-cards {
        flex-direction: column;
    }

    .section-4-carousel-card2 {
        width: 400px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .section-4-carousel-card1 {
        width: 400px;
        margin-bottom: 20px;
        font-size: 50px;
    }

    .your-dream-future-in {
        font-size: 40px;
    }

    .section-5 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        border-radius: 900px;
        height: 500px;
        width: 500px;
    }

    .section-5-para {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin-top: 30px;

    }

    .section-5-btn {
        width: 300px;
        height: 60px;
        text-align: center;
        align-self: center;

    }

    .section-6-img {
        display: none;
    }

    .section-one-main-container-right {
        display: none;
    }

    .section-6-text-content {
        position: relative;
        margin-left: 0px;
    }

    .disable-in-mobile {
        display: none;
    }

    .enable-in-mobile {
        width: 500px;
        position: relative;
        margin-bottom: 100px;
    }

    .footer-flex p {
        margin-top: 40px;
        text-align: center;
    }

    .footer-flex a {
        text-align: center;

    }

    .footer-logo {
        border-radius: 20px;
        width: 150px;
        height: 80px;
        margin-bottom: 10px;
    }

}

@media (min-width:600px) {
    .enable-in-mobile {
        display: none;
    }

    .footer-flex {
        display: flex;
    }

    .footer-logo {
        border-radius: 20px;
        width: 150px;
        height: 80px;
        margin-bottom: 10px;
    }

    .section-4-main-container {}

    .extra-card {
        display: none;
    }
}
